/* 容器 */
.container{
    width: 100%;
    min-height:400px;
    max-height:700px;
}

/* 背景图 header background */
.bgimg {
    background-image: url('img/headback.jpg');
    background-position: center;
    background-size: cover;
}

/* 文字居中 word at centre*/
.txtct{
    text-align: center;
}

.box{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.box.grey{
    background-color: rgb(240,240,240) ;;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #14134F;
}


.box1{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
}


.box1.grey{
    background-color: rgb(240,240,240) ;;
}


.textbox{
    width: 500px;
}


/* line chart1 tooltip */
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
  }